@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animated-comp {
  animation: scaleIn 1s ease-in-out;
}
